<h2>Satisfaction-factors list</h2>
<div class="row" style="padding-left:30px; ">
  
      <div class="col-lg-11 col-sm-10 col-md-10 example-container mat-elevation-z8" style="margin-top:20px; background-color:azure" >
              <div class="example-header" style="margin-top:10px">
                  <mat-form-field>
                      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                  </mat-form-field>
                    </div>
          <mat-table #table [dataSource]="dataSource" matSort>
        
            <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->
                 
            <!-- Position Column -->
            <ng-container matColumnDef="position">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="position-cell-padding"> No. </mat-header-cell>
              <mat-cell *matCellDef="let element" class="position-cell-padding"> {{element.position}} </mat-cell>
            </ng-container>
        
            <!-- Name Column -->
            <ng-container matColumnDef="factor">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="factor-cell-padding"> Factor </mat-header-cell>
              <mat-cell *matCellDef="let element" class="factor-cell-padding"> {{element.factor}} </mat-cell>
            </ng-container>
        
            <!-- Weight Column -->
            <ng-container matColumnDef="description">
              <mat-header-cell *matHeaderCellDef mat-sort-header class="description-cell-padding"> Description </mat-header-cell>
              <mat-cell *matCellDef="let element" class="description-cell-padding"> {{element.description}} </mat-cell>
            </ng-container>

            <!-- actions -->
            <ng-container matColumnDef="actions">
              <mat-header-cell *matHeaderCellDef mat-sort-header> Actions </mat-header-cell>
              <mat-cell *matCellDef="let element" >
                <button type="button" class="btn btn-primary btn-sm" (click)="editFactor()">
                  <span class="glyphicon glyphicon-pencil" >Edit</span></button>
                  <button type="button" class="btn btn-danger btn-sm">
                      <span class="glyphicon glyphicon-trash"></span> Delete</button> 
                    
              </mat-cell>
          </ng-container>
               
            <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
          </mat-table>
       
        <mat-paginator #paginator
        [pageSize]="5"
        [pageSizeOptions]="[5, 10, 20]">
          </mat-paginator>
    
   
</div>
</div>